extends ./layout
block bodyContainer
  .applicationContainer
    each application in viewData.applications
      a.application(href=application.url)
        h3 #{application.name}
        
  - importer.import('/css/home.css')
