.fork {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.tinyContainer {
  margin: 15px;
  padding-bottom: 40px;
}
.tinyContainer .inputWrapper {
  text-align: center;
  line-height: 30px;
}
.tinyContainer .inputWrapper input[type='text'] {
  padding: 3px 10px; 
  width: 300px;
  outline: 0;
}
.tinyContainer .inputWrapper input[type='radio'] {
  margin: 0 3px 0 15px;
}

.tinyContainer .inputWrapper a {
  background-color: #2db7f5;
  border: 1px solid #2db7f5;
  margin-left: 10px;
  padding: 3px 20px;
  text-decoration: none;
  color: #fff;
}
.analyzeWrapper table {
  margin-top: 50px;
  width: 100%;
  table-layout: fixed;
}
.analyzeWrapper table tr {
  border: 1px solid #e9eaec;
}
.analyzeWrapper table th, .analyzeWrapper table td {
  text-align: left;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.analyzeWrapper table thead {
  background-color: #f8f8f9;
}
.analyzeWrapper table tbody  {
  background-color: #fff;
}
.analyzeWrapper table tbody tr:hover {
  background-color: #ebf7ff;
}
.analyzeWrapper ul {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  margin: 15px 0;
}