html, body {
  height: 100%;
}
.fork {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9;
}
.varnishGeneratorContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50px;
  top: 0;
}
.varnishGeneratorContainer h3 {
  background-color: #21232d;
  color: #f0f0f0;
  margin: 0;
  line-height: 48px;
  text-indent: 1em;
}
.varnishGeneratorContainer .generatorItem {
  position:absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
}
.varnishGeneratorContainer .generatorItem .generate {
  float: right;
  color: #f0f0f0;
  border: 1px solid #f0f0f0;
  line-height: 24px;
  font-size: 12px;
  text-align: center;
  text-indent: 0;
  padding: 3px 10px;
  margin: 8px 15px;
  text-decoration: none;
}
.varnishGeneratorContainer .generatorItem .generate:hover {
  text-decoration: underline;
}
.varnishGeneratorContainer .generatorItem:last-child {
  left:50%;
}
.varnishGeneratorContainer .generatorItem:last-child h3 {
  border-left: 1px solid #f0f0f0;
}
.varnishGeneratorContainer .generatorItem:last-child .editor {
  border-left: 1px solid #f0f0f0;
}
.varnishGeneratorContainer .generatorItem .CodeMirror {
  height: 100%;
}
