.site-apps {
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -180px;
  left: 0;
  right: 0;
}
.site-app {
  display: inline-block;
  width: 33.33%;
}
.site-app a {
  display: block;
  margin: 15px;
  text-decoration: none;
  background-color: #f7f7f6;
  color: #333;
  text-align: center;
  line-height: 150px;
  font-size: 32px;
  border: 1px solid #ededeb;
  border-radius: 3px;
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
