.site-apps {
  text-align: center;
  position: absolute;
  top: 50%;
  margin-top: -320px;
  left: 0;
  right: 0;
}
.site-app {
  float: left;
  width: 33.33%;
}
.site-app a {
  display: block;
  margin: 15px;
  text-decoration: none;
  background-color: #f7f7f6;
  color: #333;
  text-align: center;
  font-size: 32px;
  border: 1px solid #ededeb;
  border-radius: 3px;
}
.site-app a h5{
  line-height: 90px;
}
.site-app a p{
  margin: 10px 30px;
  height: 60px;
  line-height: 30px;
  font-size: 14px;
}

.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

.site-footer a {
  margin-left: 10px;
  color: #fff;
}